.grid-comment {
  display: grid;
  grid-template-columns: repeat(1, 21.875rem);
  grid-gap: 1rem;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .grid-comment {
    grid-template-columns: repeat(2, 21.875rem);
  }
}

@media (min-width: 1224px) {
  .grid-comment {
    grid-template-columns: repeat(3, 21.875rem);
  }
}